.catalog{

    &-container{
        display: flex;
        margin: 0 $gutter*2 $gutter*4;
        flex-flow: row wrap;
        justify-content: space-center;
    }

    &-item{ 
        border: 1px solid $color-darker;
        border-radius: 2.2rem;
        overflow: hidden;
        margin-bottom: $gutter*2;
        position: relative;
        
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

        &-container{
            margin: 0 $gutter;
            width: calc( (100% - (#{$gutter} * 10)) / 5);
        }
        
        &__image{
            img{
                width: 100%;
            }
        }

        &__name{
            font-weight: 400;
            font-size: 2rem;
            margin-bottom: $gutter/2;
        }

        &__info{
            padding: $gutter;
            height: 140px;
            background-color: darken($color-dark , 15%);
        }

        &__view{
            
            &, &:link, &:visited{
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                right: 0px;
                bottom: 0px;
                height: 4.4rem;
                text-transform: uppercase;
                border-top-left-radius: 2.2rem;
                border-bottom-right-radius: 2.2rem;
                padding: 0 2.2rem;
                min-width: 100px;
                text-decoration: none;
                background-color: $color-primary;
                background-image: linear-gradient( 160deg, $color-primary-lighter, $color-primary );
                color: $color-light;
            }
        }


    }
}

