.catalog{

    &-container{
        display: flex;
        margin: $gutter*3 $gutter*2;
        flex-flow: row wrap;
        justify-content: space-center;
        overflow-y: scroll;
        height: 800px;
    }

    &-item{ 
        border: 1px solid rgb(214, 214, 214);
        border-radius: 2.2rem;
        overflow: hidden;
        margin-bottom: $gutter*2;
        position: relative;

        &-container{
            margin: 0 $gutter;
            width: calc( (100% - (#{$gutter} * 10)) / 5);
        }
        
        &__image{
            img{
                width: 100%;
            }
        }

        &__name{
            font-weight: 400;
            font-size: 2rem;
            margin-bottom: $gutter/2;
        }

        &__info{
            padding: $gutter;
            height: 140px;
        }

        &__view{
            
            &, &:link, &:visited{
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                right: 1px;
                bottom: 1px;
                height: 4.4rem;
                text-transform: uppercase;
                border-top-left-radius: 2.2rem;
                border-bottom-right-radius: 2.2rem;
                padding: 0 2.2rem;
                min-width: 100px;
                background-color: #ececec;
                text-decoration: none;
            }
        }


    }
}

.product-container{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 700px;
    width: 90%;
    transform: translate(-50%, -50%);
}