.main--home{
    padding: $gutter*3;
}

.home-content{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;

    .info-container{
        margin-right: $gutter*3;
        width: 440px;
    }
}


.home-logo{
    width: 450px;
    margin-bottom: $gutter*3;

    img{
        width: 100%;
        height: auto;
    }
}