.btn{
    &, &:link,&:visited{
        align-items: center;
        border-radius: 2.2rem;
        cursor: pointer;
        display: inline-flex;
        height: 4.4rem;
        padding: 0 2.2rem;
        text-decoration: none;
        text-transform: uppercase;

        i{
            margin-right: $gutter/2;
        }
    }

    &--outline{
        &, &:link,&:visited{
           border: 2px solid #ecf0f1; 
           color: #ecf0f1;
        }
    }

    &--default{
        &, &:link,&:visited{
            
        }
    }

    &--primary{
        &, &:link, &visited{
            background-color: $color-primary;
            background-image: linear-gradient( 160deg, $color-primary-lighter, $color-primary );
            color: $color-light;
        }
    }


}