.product-container{
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    height: 600px;
    width: 1200px;
    transform: translate(-50%, 50%) scale(0);
    visibility: hidden;
    opacity: 0;
    background-color: darken($color-dark, 15%);
    border-radius: 2.2rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 35;
    transition: all .2s ease-out;

    &.active{
        transform: translate(-50%, -50%) scale(1);
        visibility: visible;
        opacity: 1;
    }

    &__close{
        position: absolute;
        top: 0;
        right: 0;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4.4rem;
        padding: 0 2.2rem;
        background-color: $color-primary;
        background-image: linear-gradient( 160deg, $color-primary-lighter, $color-primary );
        color: $color-light;
        border-top-right-radius: 2.2rem;
        border-bottom-left-radius: 2.2rem;

    }
}

.product{
    display: flex;
    flex-flow: row nowrap;
    &__img{
        width: 600px;
        height: 600px;
        img{
            width: 100%;
        }
    }

    &__content{
        width: 600px;
        height: 600px;
        padding: $gutter*2;
        font-size: 18px;
    }

    &__name{
        font-weight: 400;
        width: 80%;
        font-size: 2.6rem;
        line-height: 1.3;
        margin-bottom: $gutter;
    }

    &__sku{
        font-size: 2.2rem;
        display: inline-block;
        margin-bottom: $gutter;
    }

    &__subtitle{
        font-weight: 400;
        width: 80%;
        font-size: 2.4rem;
        margin-bottom: $gutter;
        color: $color-primary-text;
    }

    &__datasheet{
        width: 100%;
        font-size: 2rem;

        th{
            font-weight: 400;
        }

        th, td{
            text-align: left;
            background-color: rgba($color-dark, .4);
            border-bottom: 1px solid $color-darker;
            padding: 1rem $gutter;
        }

        td{
            background-color: rgba($color-dark, .2);
        }

    }
}