.header{
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: $gutter*3;
    z-index: 40;
    width: 100%;

    &-logo{
        height: 4.4rem;
        img{
            height: 100%;
            width: auto;
        }
    }

    &-nav{
        .btn{
            width: 20rem;
            margin: 0;
            justify-content: center;
        }
    }
}