.wrapper{
    height: 100%;
    background-color: $color-dark;
    background-image: linear-gradient( to bottom, $color-dark, $color-darker);

    &-overlay{
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 10;
        background-image: linear-gradient( to bottom, $color-dark, $color-darker);
        opacity: .9;
    }

    &-flap{
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        width: 30%;
        z-index: 10;
        background-color: #ffffff;
        opacity: .7;
    }
}